<header class="container__main">
  <h1>Saper</h1>
  <section class="container__options">
    <h2>Wybierz mape</h2>
    <div class="container__inputBoxes">
      <div class="selected">
        <input
          type="radio"
          id="smallMap"
          name="mapSize"
          value="10"
          checked
          (click)="changeMap($event)" />
        <label for="smallMap">S</label>
      </div>
      <div>
        <input
          type="radio"
          id="mediumMap"
          name="mapSize"
          value="15"
          (click)="changeMap($event)" />
        <label for="mediumMap">M</label>
      </div>
      <div>
        <input
          type="radio"
          id="bigMap"
          name="mapSize"
          value="30"
          (click)="changeMap($event)" />
        <label for="bigMap">L</label>
      </div>
    </div>
    <button (click)="handleStartBtn()">Start</button>
  </section>
  <div class="menu__btn"></div>
</header>
