<header class="container__main">
  <h1>Saper</h1>
  <section class="container__options">
    <h2>Wybierz mape</h2>
    <div class="container__inputBoxes">
      <div class="selected">
        <input
          type="radio"
          id="smallMap"
          name="mapSize"
          value="1"
          checked
          (click)="changeMap($event)" />
        <label for="smallMap">Mała: 8x8 - 10 min</label>
      </div>
      <div>
        <input
          type="radio"
          id="mediumMap"
          name="mapSize"
          value="2"
          (click)="changeMap($event)" />
        <label for="mediumMap">Średnia: 16x16 - 40 min</label>
      </div>
      <div>
        <input
          type="radio"
          id="bigMap"
          name="mapSize"
          value="3"
          (click)="changeMap($event)" />
        <label for="bigMap">Duża: 16x30 - 99 min</label>
      </div>
    </div>
    <button (click)="handleStartBtn()">Start</button>
  </section>
</header>
