<div
  *ngIf="fData"
  class="{{ fData.fClass }}"
  style="{{ fData.fStyle }}"
  (click)="onClick($event)"
  (auxclick)="onAuxClick($event)">
  <span
    *ngIf="fieldState === 0 && fData.nearBombs > 0 && !fData.bomb"
    style="{{ numSize }}"
    >{{ fData.nearBombs }}</span
  >
  <img src="../../assets/pin.gif" alt="Pin Icon" *ngIf="fieldState === 1" />
  <img src="../../assets/flag.gif" alt="Flag Icon" *ngIf="fieldState === 2" />
  <img
    src="../../assets/explosion.png"
    alt="Explosion Icon"
    *ngIf="fieldState === 3" />
</div>
