@import "../../styles/variablesAll.scss";

.game__field {
  background-color: $color-2;
  border: 2px solid $color-3;
  display: flex;
  justify-content: center;
  align-items: center;

  &.activated {
    background-color: $color-1;
  }

  &.mineThere {
    background-color: $color-3;
    border: $color-1 2px solid;
  }

  &.block {
    background-color: $color-3;
    border: $color-1 2px solid;
  }

  img {
    height: 100%;
  }

  span {
    display: flex;
    width: 90%;
    height: 80%;
    background: $color-3;
    justify-content: center;
    align-items: center;
    color: $color-2;
  }
}
