/* You can add global styles to this file, and also import other style files */
@import "styles/variablesAll.scss";
body{
  background-color: $color-bg-1;
  font-family: $font-common;
}

*{
  box-sizing: border-box;
}
